<%= form_for(@estetica) do |f| %>
  <% if @estetica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estetica.errors.count, "error") %> prohibited this estetica from being saved:</h2>

      <ul>
      <% @estetica.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
