<legend>Ácido Hialurónico</legend>
<div class="row-fluid">
	<div class="span6">
		<p>
			El Ácido Hialurónico es, una molécula presente en los organismos animales, que tiene la capacidad de retener agua. Razón por la cual es utilizado para rellenar arrugas y dar volumen a regiones estéticamente comprometidas.
		</p>
		<p>
			Es un procedimiento muy solicitado por personas que quieren cambiar su aspecto, suavizar la piel, definir labios y quitar arrugas. 
		</p>
	</div>
	<div class="span6">
		<div class="row-fluid">
			<div class="span7 offset2">
    			<%= image_tag('acido_hialuronico.jpg', :class => 'img-rounded')%>
			</div>
		</div>
	</div>
</div>