<legend>Ácido Hialurónico</legend>
<div class="row-fluid">
	<div class="span6">
		<p>
			Es una molécula presente en los organismos vivos, que con el paso de los años se va perdiendo;
			tiene la capacidad de retener agua por lo que se utiliza para devolver volúmenes perdidos e
			hidratar la piel.
		</p>
		<p>
			Es un procedimiento muy solicitado por personas que quieren cambiar su aspecto, suavizar la piel, definir labios y quitar arrugas. 
		</p>
	</div>
	<div class="span6">
		<div class="row-fluid">
			<div class="span7 offset2">
    			<%= image_tag('acido_hialuronico.jpg', :class => 'img-rounded')%>
			</div>
		</div>
	</div>
</div>