<script type="text/javascript">
  $(window).load(function() {
    $('.flexslider').flexslider({
      animation: "slide",
      slideshowSpeed: 5000,
    });
  });
</script>

<div>
  <div >
    <p style="font-size:16px">
      En nuestra clínica, nos preocupamos por un concepto de belleza integral, entregando múltiples opciones desde donde podemos mejorar la imagen del rostro, ofreciendo una alternativa única según la ﬁsonomía de cada paciente.
    </p>
    <p style="font-size:16px">
      Para nuestros tratamientos utilizamos solo productos que cumplan con los mas altos estándares de calidad y nuestros profesionales son altamente caliﬁcados y certiﬁcados.
    </p><!-- 
    <p style="font-size:16px; text-align:center;">
      Venga a conocernos y...
    </p> -->
    <p style="font-size:18px;text-align:center;margin:30px 0">
      ¡VENGA A CONOCERNOS Y  DESE UN GUSTO!
    </p>
  </div>
  <div class="slider-container">
    <%= render :partial => "/layouts/slider" %>
  </div>
</div>

