<script type="text/javascript">
  $(window).load(function() {
    $('.flexslider').flexslider({
      animation: "slide",
      slideshowSpeed: 5000,
    });
  });
</script>

<div>
  <div >
    <p style="font-size:16px">
      En nuestra clínica, nos preocupamos por un concepto de belleza integral, entregando múltiples
      opciones desde donde podemos mejorar la imagen de nuestro rostro, y moderno ya que llevamos
      a cabo nuestros tratamientos al alero de la vanguardia científica en cosmetología, utilizando
      productos que cumplen con los más altos estándares de calidad internacional.
    </p>
    <p style="font-size:16px">
      Sabemos que la fisonomía de cada paciente es única, es por esto que nos preocupamos de cada
      detalle para conservar un estilo único y personal en cada tratamiento.
    </p>
    <p style="font-size:18px;text-align:center">
      ¡VEN A CONOCERNOS Y  DESE UN GUSTO!
    </p>
  </div>
  <div class="slider-container">
    <%= render :partial => "/layouts/slider" %>
  </div>
</div>

