<script type="text/javascript">
  $(window).load(function() {
    $('.flexslider').flexslider({
      animation: "slide",
      slideshowSpeed: 5000
    });
  });
</script>

<div class="row-fluid">
  <div class="span8 offset2">
  <%= render :partial => "/layouts/slider" %>
  </div>
  <br><br>
  <div class="span8 offset2">
    <p>
      En nuestra clínica, nos preocupamos por un concepto de belleza integral, entregando múltiples
      opciones desde donde podemos mejorar la imagen de nuestro rostro, y moderno ya que llevamos
      a cabo nuestros tratamientos al alero de la vanguardia científica en cosmetología, utilizando
      productos que cumplen con los más altos estándares de calidad internacional.

      Sabemos que la fisonomía de cada paciente es única, es por esto que nos preocupamos de cada
      detalle para conservar un estilo único y personal en cada tratamiento.
    </p>
    <p>
      Venga a conocernos y ... DESE UN GUSTO!!!.
    </p>
  </div>
</div>

