<legend>Plasma Rico en Plaquetas <i>(PRP)</i></legend>
<div class="row-fluid">
	<div class="span6">
		<p>
			El PRP es un Revolucionario tratamiento rejuvenecedor a nivel mundial, que estimula la producción de colágeno, elastina y tejido epidérmico, deteniendo el proceso de envejecimiento, devolviendo la juventud al rostro.
		</p>

		<p>
			<strong>¿Cuándo se recomienda la aplicación del PRP?</strong>
			<ul>
				<li>
					A partir de los 30 años (de manera preventiva). 
				</li>
				<li>
					Signos de envejecimiento prematuro.			
				</li>
				<li>
					Pieles envejecidas.
				</li>
			</ul>
		</p>
	</div>
	<div class="span6">
		<div class="row-fluid">
			<div class="span7 offset2">
    			<%= image_tag('prp.bmp', :class => 'img-rounded')%>
			</div>
		</div>
	</div>
</div>