<legend>Plasma Rico en Plaquetas <i>(PRP)</i></legend>
<div class="row-fluid">
	<div class="span6">
		<p>
			El plasma rico en plaquetas, es un tratamiento que consiste en extraer un concentrado de
			plaquetas a partir de la sangre de cada paciente, la que es procesada y centrifugada en el mismo
			momento, para obtener un agente antienvejecimiento único y natural para cada paciente.
		</p>
		<p>
			Su efecto biológico se basa en la estimulación del ﬁbroblasto, célula encargada de la formación del
			colageno, el cual se va perdiendo en la medida en que envejecemos, de esta manera se sintetiza
			una mayor matriz colagena, devolviendo la estructura y aspecto juvenil a la piel.
		</p>
		<p>
			<strong>¿Cuándo se recomienda la aplicación del PRP?</strong>
			<ul>
				<li>
					A partir de los 30 años (de manera preventiva). 
				</li>
				<li>
					Signos de envejecimiento prematuro.			
				</li>
				<li>
					Pieles envejecidas.
				</li>
			</ul>
		</p>
	</div>
	<div class="span6">
		<div class="row-fluid">
			<div class="span7 offset2">
    			<%= image_tag('prp.jpg', :class => 'img-rounded')%>
			</div>
		</div>
	</div>
</div>