<legend>Soft Lift</legend>
<div class="row-fluid">
	<div class="span6">
		<p>
			Tratamiento combinado que consiste en mezclar las cualidades del Ácido Hialurónico y la toxina Botulínica tipo A, para tratar el rostro en forma integral, manejando los 3 tercios de la cara, generando una apariencia bien balanceada y alta satisfacción del paciente; ademas, es un procedimiento mínimamente invasivo, que permite retrasar un eventual procedimiento quirúrgico.
		</p>
	</div>
	<div class="span6">
		<div class="row-fluid">
				<div class="span7 offset2">
	    			<%= image_tag('botox.jpg', :class => 'img-rounded')%>
				</div>
			</div>
		</div>
</div>