<legend>Toxina Butolínica</legend>
<p>
	La Toxina Botulínica, relaja la musculatura facial de modo que su contracción disminuye, así la piel que está sobre dicha musculatura permanecerá lisa, evitando arrugas y líneas de expresión.
</p>
<p>
	El procedimiento es muy rápido, dura menos de una hora, no requiere de preparación previa ni anestesias. Su efecto es prolongado y va desapareciendo paulatinamente, logrando un resultado muy natural.
</p>
<br><br>
<div class="row-fluid">
	<div class="span8 offset2">
		<div class="row-fluid">
			<div class="span6" style="text-align:center;">
				<h4>Antes</h4>
    			<%= image_tag('antes.jpg', :class => 'img-rounded')%>
			</div>
			<div class="span6" style="text-align:center;">
				<h4>Después</h4>
    			<%= image_tag('despues.jpg', :class => 'img-rounded')%>
			</div>
		</div>
	</div>
</div>
<br><br>