<legend>Toxina Butolínica</legend>
<div class="row-fluid">
	<div class="span6">
		<p>
			La toxina Botulínica disminuye la contracción del músculo, por lo que relaja la musculatura que
			produce surcos y/o pliegues dejando descansar a la piel, eliminando de esta forma rápida y
			efectivamente las expresiones no deseadas.
		</p>
		<p>
			El procedimiento es muy rápido, dura menos de una hora, no requiere de preparación previa ni anestesias. Su efecto es prolongado y va desapareciendo paulatinamente, logrando un resultado muy natural.
		</p>
	</div>
	<div class="span6">
		<div class="row-fluid">
				<div class="span7 offset2">
	    			<%= image_tag('botox.jpg', :class => 'img-rounded')%>
				</div>
			</div>
		</div>
</div>