<legend>Quiénes Somos</legend>
<div class="row-fluid">
	<div class="span12">
		<p>
			Dése un gusto, nace como respuesta a una creciente tendencia mundial que llega a Chile, en la que población de mediana edad quiere mantener un aspecto juvenil por más tiempo y/o retardar los signos tempranos del envejecimiento.
		</p>
		<p>
			Los profesionales que prestan servicios, pueden ser Médicos u Odontólogos avalados por el código sanitario Articulo 115, quienes han obtenido sus certiﬁcados de especialistas en Rejuvenecimiento Facial y ademas están registrados en la Sociedad de estética Maxilofacial, entidad que vela por el interés cientíﬁco y buen ejercicio de esta profesión.			
		</p>
	</div>
</div>