<div id="footer">
	<div class="container">
		<div class="row">
			<div class="span4 siguenos">
				<legend>SÍGUENOS</legend>
				<p>También puedes darte un gusto siguiendonos en nuestras redes sociales.</p>
				<a class="red_social facebook" href="#"></a>
				<a class="red_social twitter" href="#"></a>
				<a class="red_social forsquare" href="#"></a>
			</div>
			<div class="span4 encuentranos">
				<legend>NOS ENCONTRAMOS EN</legend>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="span4 recomendamos">
				<legend>TE RECOMENDAMOS</legend>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>
</div>
<%= yield :scripts %>