<div id="footer">
	<div class="container">
		<div class="row-fluid">
			<div class="span4 siguenos">
				<legend>SÍGUENOS</legend>
				<p>También puedes darte un gusto siguiendonos en nuestras redes sociales.</p>
				<br>
				<div class="social_net">
					<a class="red_social facebook" href="https://www.facebook.com/DeseUnGusto" target="_blank"></a>
					<a class="red_social twitter" href="https://twitter.com/deseungusto" target="_blank"></a>
					<a class="red_social forsquare" href="#"></a>
				</div>
			</div>
			<div class="span4 encuentranos">
				<legend>NOS ENCONTRAMOS EN</legend>
				<p>
					Para mayor información acerca del rejuvenecimiento facial, te invitamos a visitar nuestra clínica y contactarnos:
				</p>
				<ul>
				    <li>Torres Flamenco (<a href=<%= map_url%>>Ver mapa</a>) Oficina 403</li>
				    <li>Fono: (52) 21 37 20</li>
				    <li>Email: rodrigoignacionegrete@gmail.com</li>
				</ul>
			</div>
			<div class="span4 recomendamos">
				<legend>TE RECOMENDAMOS</legend>
				<p>
					Para que te informes más y conozcas a nuestros asociados, te invitamos a visitar los siguientes sitios:
				</p>
				<ul>
				    <li>
				    	<a href="http://www.sociedadesteticamaxilofacial.cl/" target="_blank">Sociedad Chilena de Estética Maxilofacial</a>
				    </li>
				    <li>
				    	<a href="www.centrosanfrancisco.cl ">Centro San Francisco</a>
				    </li>
				    <li>
				    	<a href="www.moren.cl">Dra. Carmen Moren</a>
				    </li>
				</ul>
			</div>
		</div>
	</div>
</div>
<%= yield :scripts %>