<div class="flexslider">
  <ul class="slides">
    <li>
      <%= image_tag('slider/acido_hialuronico.jpg', :style => "text-align:center")%>
      <h4 class="flex-caption" style="margin-left:5px; text-align:center; color:white">Ácido Hialurónico</h4>
    </li>
    <li>
      <%= image_tag('slider/botox.jpg', :style => "text-align:center")%>
      <h4 class="flex-caption" style="margin-left:5px; text-align:center; color:white">Toxina Butolínica</h4>
    </li>
    <li>
      <%= image_tag('slider/prp.jpg', :style => "text-align:center")%>
      <h4 class="flex-caption" style="margin-left:5px; text-align:center; color:white">Plasma Rico en Plaquetas</h4>
    </li>
  </ul>
</div>