<div class="flexslider">
  <ul class="slides">
    <li>
      <%= image_tag('slider/acido_hialuronico.jpg')%>
      <h4 class="flex-caption" style="margin-left:5px; text-align:center">Ácido Hialurónico</h4>
    </li>
    <li>
      <%= image_tag('slider/botox.jpg')%>
      <h4 class="flex-caption" style="margin-left:5px; text-align:center">Toxina Butolínica</h4>
    </li>
    <li>
      <%= image_tag('slider/prp.jpg')%>
      <h4 class="flex-caption" style="margin-left:5px; text-align:center">Plasma Rico en Plaquetas</h4>
    </li>
  </ul>
</div>